@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  background-color: #E0E5EC;
  
}


label,
main
{
  
  color: var(--text, black);
}
.btn2:hover{
  box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgb(94 104 121 / 69%);
    background-color: #E0E5EC;
}
.btn:hover{
  box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgb(94 104 121 / 69%);
    background-color: #E0E5EC;
}
  .boton:hover{
    box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgb(94 104 121 / 69%);
    background-color: #E0E5EC;
  }
@media only screen and (min-width:500px) and (max-width:2080px){
  .container{
    left: 100px;
  }
  h1{
    font-size: 50px;
  }
  p{
    font-size: 25px;
  }
  .icons {
    display: block;
    margin: 200px auto;
    width: 80vh;
}
}
@media only screen and (min-width:500px) and (max-width:1125px){
  .icons {
    display: block;
    margin: 200px auto;
    width: 50vh;
}
}
@media only screen and (min-width:400px) and (max-width:730px){
  .icons {
    display: block;
    margin: 200px auto;
    width: 30vh;
}
}
.container{
  right: 60px;
  position: absolute;
  top: 170px;
}
main {
  background: linear-gradient(to bottom, var(--gradDark), var(--gradLight));
  min-height: 100vh;
  text-align: center;
}

@media (min-width: 770px){
	.btn{
		font-size: 80px;
		
	}
}
.apellido-cont{
  display: flex;
  gap: 10px;
  margin: 0;
  justify-content: center;
}
.apellido {
  color: #ffffff;
  
}
.btn,
.btn2,
.boton {
  margin: 0 auto;
  width: 250px;
  font-size: 25px;
	text-align: center;
	line-height: 60px;
	color: rgba(0, 0, 0, 0.9);
	border-radius: 50px;
 /* background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);*/
 background-color: #E0E5EC;
	background-size: 600%;
	-webkit-animation: anime 16s linear infinite;
			animation: anime 16s linear infinite;
			cursor: pointer;
			text-decoration: none;   
      
      transition: all 0.2s ease-in-out;
  color: rgb(0, 0, 0) !important;
 
  box-shadow: 9px 9px 16px rgb(163 177 198 / 60%), -9px -9px 16px rgb(255 255 255 / 50%);
  }
  
  .about{
    transition: all 1s;
  }
.btn2 {
	position: absolute;
	margin-top: -70px;
	z-index: -1;
	filter: blur(30px);
	opacity: 0.8;
  
  }
  @-webkit-keyframes anime {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }
  @keyframes anime {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }
  
.wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.theme-switch__input:checked ~ main,
.theme-switch__input:checked ~ label
{
  --text: rgb(255, 255, 255); 
}
.theme-switch__input:checked ~ .fa-facebook{
  color: #fff;
}
.theme-switch__input:checked ~ main {
  --gradDark: hsl(198, 44%, 11%);
  --gradLight: hsl(198, 39%, 29%);
}

.theme-switch__input,
.theme-switch__label {
  position: absolute;
  z-index: 1;
}

.theme-switch__input {
  opacity: 0;
}
.theme-switch__input:hover + .theme-switch__label, .theme-switch__input:focus + .theme-switch__label {
  background-color: lightSlateGray;
}
.theme-switch__input:hover + .theme-switch__label span::after, .theme-switch__input:focus + .theme-switch__label span::after {
  background-color: #d4ebf2;
}
.theme-switch__input:hover + .fa-facebook, .theme-switch__input:focus + .fa-facebook{
  color: black;
}
.theme-switch__input:hover + .fa-facebook span::after, .theme-switch__input:focus + .fa-facebook span::after{
  color: black;
}
.theme-switch__label {
  padding: 20px;
  margin:60px 120px;
  transition: background-color 200ms ease-in-out;
  width: 110px;
  height: 10px;
  border-radius: 50px;
  text-align: center;
  background-color: slateGray;
  box-shadow: -4px 4px 15px inset rgba(0, 0, 0, 0.4);
}
.theme-switch__label::before, .theme-switch__label::after {
  font-size: 2rem;
  position: absolute;
  transform: translate3d(0, -50%, 0);
  top: 50%;
}
.theme-switch__label::before {
  content: "☼";
  right: 100%;
  margin-right: 10px;
  color: #ff4810;
}
.theme-switch__label::after {
  content: "☾";
  left: 100%;
  margin-left: 10px;
  color: lightSlateGray;
}
.theme-switch__label span {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 0;
  width: 100%;
}
.theme-switch__label span::after {
  position: absolute;
  top: calc(100% + 15px);
  left: 5px;
  width: 30px;
  height: 30px;
  content: "";
  border-radius: 50%;
  background-color: lightBlue;
  transition: transform 200ms, background-color 200ms;
  box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
}

.theme-switch__input:checked ~ .theme-switch__label {
  background-color: lightSlateGray;
}
.theme-switch__input:checked ~ .theme-switch__label::before {
  color: lightSlateGray;
}
.theme-switch__input:checked ~ .theme-switch__label::after {
  color: turquoise;
}
.theme-switch__input:checked ~ .fa-facebook::before{
  color: black;
}
.theme-switch__input:checked ~ .fa-facebook::after{
  color: white;
}
.theme-switch__input:checked ~ .theme-switch__label span::after {
  transform: translate3d(70px, 0, 0);
}
.entrada{
    background-color: black;
    max-width: 100vh;
    height: 2px;
    margin: 80px auto;
}
@media screen and (max-width: 768px){
  .entrada{
  position: relative;
  top: 30px;
}
}
.icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
}
@media only screen and (max-width: 768px){
  .icons{
    position: relative;
    top: -25px;
  }
}
.fa-facebook,
.fa-github,
.fa-whatsapp,
.fa-linkedin,
.fa-twitter,
.fa-youtube{
  font-size: 40px;
  color: rgb(255, 255, 255);
}
.fa-facebook{
  color:  #3b5998;
}
.fa-github{
  color: #171515;
}
.fa-whatsapp{
  color: #00bb2d;
}
.linkedin-cont{
  background-color: #0e76a8;
  padding: 3.5px;
  border-radius: 20%;
}
.icons a {
  transition: all 0.2s ease-in-out;
  color: #ccc !important;
  text-decoration: none;
}
.icons a:hover {
  color: white;
  text-shadow: 0 0 30px white;
}

.footer a{
  text-decoration: none;
  color: black;
}
h3{
  font-size: 10px;
}
.download {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  top: 345px;
}
#vitae{
  font-size: 11px;
  cursor: pointer;
}
.fa-cloud-download-alt{
  color: black;
}

